*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display:flex;
    padding: 0px 15%;
    justify-content: space-between;
    background-color:white;
    height: 50px;
    box-shadow: 0px 10px 5px -3px rgba(217, 213, 217, 0.4);
    top: 0;
    position: sticky;
}
ul{
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 15px;
    font-size: large;
}
button{
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 25px;
    color: aliceblue;
    background-color: blueviolet;
    border: none;
}
.container1{
    display: flex;
    /* background-color: blueviolet; */
    justify-content: center;
    justify-content:space-around;
}
.section2{
    width: 400px;
    height:400px;
    margin-top: 40px;
    font-size: large;
    /* box-sizing: border-box; */
    /* border: 5px solid black;     */
    padding: 50px 50px;
}
.img1{
    width: 500px;
    height: 400px;
    padding: 30px 30px;
    border-radius: 50px;
    /* object-fit: cover; */
}
.section3{
    height:700px;
    width: 1300px;
   margin-left: 150px;
}
.container2{
    /* width: 1200px;
    height: 900px; */
    display: flex;
     margin-left:350px;
    /* justify-content: space-between; */
    margin-bottom: 30px;
    gap: 55px;
}
.box1{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid rgb(126, 126, 126);
    padding: 25px;
    font-size:large;
}
.section4{
    width: 1300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-left: 350px;
}
.container3{
   width: 1250px;
   height: 500px;
   /* display: flex; */
}
.About{
    text-align: center;
    height: 100px;
    width: 1200px;
    font-weight: 800;
    color: black;
    margin-left: 400px;
    font-size:x-large;
}
.container3{
    width: 1250px;
    height: 100px;
    display: flex;
   margin-left: 400px;
   text-align:center;
   margin-bottom: 100px;
   /* border: 1px solid black; */
  
}
.list{
    height: 55px;
    width:100px;
    line-height: 2;
}
.container4{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    line-height: 1.7;
}
.img2{
    object-fit: cover;
}
.section5{
    width: 70%;
    display: flex;
    margin-left: 350px;
    justify-content: space-around;

}
.section6{
    width: 70%;
    height:450px;
  margin-left: 350px;
} 
.rangbackround{
    background-color: gray;
    height: 10px;
    width: 400px;
}
.rang{
    height: 100%;
    width: 275px; 
    background-color: blueviolet;

}
.rangtext{
    font-size: larger;
    font-weight: bold;
    
}
.rangbox1{
   display: flex;
   justify-content: space-between;
line-height: 5;
}
.section7{
    width: 1200px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.div1{
    height: 500px;
     width: 300px;
     box-shadow: 10px 11px 5px 0px rgba(224,212,212,0.75);
     /* background-color: #B197FC; */
}
.subdiv1{
    width: 100%;
    height: 150px;
    line-height: 1.5;
    padding: 30px;
    /* padding-left: 75px; */
   color:#403f83;
}
.subdiv2{
    width: 100%;
    height: 150px;
    background-color:#403f83;
    font-size: xx-large;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: aliceblue;
}
.subdiv3{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    font-size: x-large;
    font-weight: 500;
    padding-left: 94px;
    line-height: 1.5;
}
.divul{
    display:inline;
}
.section8{
   width: 1200px;
   height: 550px; 
   margin-left: 400px;
}
 .traders{
    display: flex;
    height: 100px;
    width: 250px;
/* background-color: #403f83; */
 }
 .row1{
   /* background-color: cadetblue; */
    display: flex;
   justify-content: space-around;
 }
 .im{
    height: 50px;
    width: 50px;

 }
 .im:hover{ 
   border-radius: 50%;
   border:5px solid blueviolet ;

 }
 .section9{
    width: 100%;
    height: 650px;
    background-color: #c5c0c7;
    /* display:block;
    justify-content: center;*/
 }
.Lorem{
    display: flex;
    justify-content: center;
    font-size: x-large; 
    padding: 50px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
}
.loremimg{
    display: flex;
    justify-content: center;
    font-size: x-large; 
    position: relative;
    align-items: center;
}
.overlay{
    height: auto;
    width: auto;
position: absolute;
}
.overlay:hover {
 color: #403f83;
  background-color: #403f83;
}


.section10{
    width: 80%;
    height: 500px;
    /* border: 1px solid chartreuse; */
    display: flex;
    margin-left: 200px;
    padding-top: 30px;
    justify-content: space-around;
   
}
.R1{
    width: 300px;
    height: 400px ;
    border: 2px solid rgba(98, 98, 101, 0.19);
    border-radius: 25px;
    /* display:flex;
    justify-content: center; */
    margin-top: 20px;
}
.mm{
    border: 2px solid rgba(146, 146, 159, 0.54); 
    display: flex;
     justify-content: center; 
     border-radius: 20px;
     height: 250px;
     width:240px;
     overflow: hidden;
     margin-top: 20px;
     margin-left: 25px;
}
.cw{
    line-height: 2;
    margin-left: 30px;
}
.section11{
    width: 100%;
    height: 150px;
    display: flex;
   justify-content: center; 
}
.Clients{
    display: flex;
    width: 1300px;
    justify-content: space-between;
}
.Clientsimg1{
    height: 150px;
    width: 200px;
    border: 1px solid rgba(58, 57, 57, 0.362);
    border-radius: 20px;
}
.section12{
    width: 1200px;
    height: 600px;
    margin-left: 100px;
    /* background-color: #403f83; */
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
    margin-left: 350px;
}
.Hold{
 height: 300px;
 width: 300px;
}
.sit{
    background-color: #d0ccdcd0; 
    width: 300px;
     height: 400px;
    border-radius: 20px;
    padding: 50px;
}
.footer{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}